/* 控制屏幕 拉寬時最大到1200px */
@media screen and (max-width:1200px) {
  .main-left {
    display: none;
  }

  /* 縮寬時不讓它回到18vw 而是auto 20vw */
  main .container {
    display: grid;
    position: relative;
    grid-template-columns: auto 30vw;
    column-gap: 2rem;
  }
}

@media screen and (max-width:1000px) {
  .main-left {
    display: none;
  }

  .main-right {
    display: none;
  }

  main .container {
    display: grid;
    position: relative;
    grid-template-columns: auto;
    column-gap: 2rem;
  }
}